<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>책 먹는 사자 - 홈</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header class="home-header">
		<a th:href="@{/api/home}">
			<img th:src="@{/img/linklogo.png}" alt="홈으로" class="linklogo">
		</a>
		<div class="home-user-info">
			<span id="welcome-msg">환영합니다.</span>
      		<div class="home-nav-buttons">
        		<a href="#" id="logout-btn" class="btn btn-secondary">로그아웃</a>
        		<a href="#" id="mypage-btn" class="btn btn-secondary">마이페이지</a>
			</div>
		</div>
	</header>
	<main class="home-main">
		<div class="home-logo img">
			<img th:src="@{/img/logo.png}" alt="책 먹는 사자 로고">
		</div>
		<div class="home-menu">
			<a th:href="@{/api/posts}" class="btn btn-menu">감상평</a>
			<a th:href="@{/api/qna}" class="btn btn-menu">Q&A</a>
		</div>
	</main>
	<script th:src="@{/js/home.js}"></script>
</body>

</html>